@import url('https://fonts.googleapis.com/css2?family=Overlock&family=Roboto:wght@300&display=swap');

.home {
    min-height: 100vh;
}

@media screen and (max-width: 700px) {
    .container-mobile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .wrap-section1-desktop {
        display: none;
    }

    .wrap-section1-mobile {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .bgImg-mobile {
        position: relative;
        z-index: -500;
        margin-left: 25%;
        margin-top: -35vw;
        height: 150vmin;
    }

    .mainTitleSection1-mobile {
        color: #fff;
        position: absolute;
        text-transform: uppercase;
        font-size: 8vmin;
        font-family: 'Roboto';
        width: 60%;
        top: 50vmin;
        right: 0%;
    }

    .miniElipse {
        position: absolute;
        width: 22vmin;
        top: 0;
        display: flex;
        margin: 50px 0px;
    }
    .miniElipse:nth-child(1) {
        left: 15%;
    }
    .miniElipse:nth-child(2) {
        left: 15%;
        top: 40%;
    }
    .miniElipse:nth-child(3) {
        left: 55%;
        top: 75%;
    }

    /* Section 2 */
    .wrap-section2-mobile {
       margin-top: 5%;
       position: relative;
    }

    .wrap-section2-mobile .elipseOrangeSection2 {
        width: 120vmin;
        margin-left: -20%;
    }

    .wrap-section2-mobile .wrap-video-section2-mobile {
      position: absolute;
      top: 15%;
    }

    .wrap-section2-mobile #background-video {
        width: 100vw;
        height: auto;
        top: 15%;
        background: rgb(241, 118, 3);
        border-top: rgb(255, 94, 0) 3px solid;
        border-bottom: rgb(243, 103, 21) 5px solid;
    }

    .wrap-section2-mobile .mainTitle-section2 {
        position: absolute;
        font-family: "Roboto";
        text-decoration: underline;
        color: #fff;
        font-size: 7vmin;
        font-weight: 900;
        line-height: 100%;
        bottom: 11%;
        left: 3%;
    }

    /* SECTION 3 */
    .wrap-section3-mobile {
        position: relative;
        width: 100%;
        height: 100%;
        background: #000;
    }

    .wrap-section3-mobile img {
        width: 115%;
        margin-left: -5%;
    }

}

/* Version tablet */
@media screen and (max-width: 1000px) {
    .wrap-section1-desktop {
    }

    .bgOrange-desktop {
        position: absolute;
        z-index: -1;
        top: -100px;
        width: 75%;
    }

    .bgImg-tablet {
        z-index: -1;
        position: absolute;
        top: -15%;
        right: -25% !important;
        width: 95%;
    }

    .box {
        display: flex;
    }
    
    /* .wrap-logoHumanitR {
        flex: 1;
    } */
    
    .logoHumanitR-desktop {
        position: absolute;
        left: -2%;
        width: 30vw;
        height: 40vmax;
    }

    .wrap-buttonDonation-desktop {
        flex: 0.7;
        margin-top: 40%;
    }

    .buttonDonation-desktop {
        width: 40%;
        height: 3rem;
        margin-left: 20%;
        font-size: 1.2rem;
        font-family: 'Overlock';
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: #AB0000;
        color: #fff;
        border: #000 0px solid;
        border-radius: 50px;
        box-shadow: 0px 5px 5px rgb(0, 0, 0);
        transition: all ease-in-out 0.1s;
    }
    .buttonDonation-desktop:hover {
        transform: scale(0.9);
        transition: all ease-in-out 0.2s;
    }

    .wrap-mainTitleSection1-desktop {
        flex:1;
        margin-top: 30vmin;
    }
    
    .mainTitleSection1-desktop {
        font-family: 'Roboto';
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8vw;
        width: 100%;
        height: 100%;
        margin-top: -20px;
        text-transform: uppercase;
        line-height: 5rem;
        color: #fff;
    }
}

/* desktop */

.bgOrange-desktop {
    position: absolute;
    z-index: -1;
    top: -100px;
    width: 75%;
}

.bgImg-tablet {
    position: absolute;
    z-index: -1;
    top: -15%;
    right: -20%;
    width: 95%;
}

.wrap-header-desktop {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: end;
}

.navbar-desktop {
   width: 68%;
}

