body {
    margin: 0;
    background: rgb(189, 144, 105);
    color: rgb(146, 13, 13);
}

main section {
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
}